*.pyc
*.rhl
*.3dmbak
*.nbi
*.nbc

# ------------------------------------------------------------------------------
# compas
# ------------------------------------------------------------------------------

temp/**
!temp/PLACEHOLDER

/.idea/
.vscode
