.wy-nav-content {
    max-width: 960px;
}

.wy-menu-vertical li.toctree-l3 li.toctree-l4 > ul,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > ul,
.wy-menu-vertical li.toctree-l4 li.toctree-l5 > ul,
.wy-menu-vertical li.toctree-l4.current li.toctree-l5 > ul {
    display: none;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4.current > ul,
.wy-menu-vertical li.toctree-l4.current li.toctree-l5.current > ul {
    display: block;
}

.wy-menu-vertical li.toctree-l4 li.toctree-l5 > a,
.wy-menu-vertical li.toctree-l4.current li.toctree-l5 > a {
    background: #cecece none repeat scroll 0 0;
    border-bottom: medium none;
    border-top: medium none;
    display: block;
    padding: 0.4045em 5.663em;
    padding-right: 4.045em;
}

.rst-content code,
.rst-content code.xref,
.rst-content a code,
.rst-content a code.xref,
.rst-content a.reference code,
.rst-content a.reference code.xref {
    font-weight: normal;
}

.rst-content a.reference code {
    color: #2980b9;
}
